:root {
  --gutter: .5rem;
  --gutter-half: calc(.5rem/2);
  --cropper-view-box-width: 4px; /* cannot use rems or calc() as must be exposed to getPropertyValue() as a number */
  --text-tiny: .75rem;
  --text-small: .8rem;
  --text-medium: .9rem;
  --color-primary: rgba(255, 255, 255, 1);
  --color-secondary: rgba(204, 204, 204, 1);
  --color-tertiary: rgba(150, 150, 150, 1);
  --color-bg-primary: rgba(0, 0, 0, 1);
  --color-bg-secondary: rgba(20, 20, 20, 1);
  --color-bg-tertiary: rgba(51, 51, 51, 1);
  --color-bg-light: rgba(247, 247, 247, 1);
  --color-border-secondary: rgba(51, 51, 51, 1);
  --color-border-active: rgba(170, 170, 170, 1);
  --opacity-modal-overlay: .5;
  --opacity-thumb-brightness: .8;
}

/* prevent flash of white content when navigating thumbnails */
html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
}

.layout {
  display: grid;
  grid-template-rows: 70vh 30vh;
  height: 100vh;
}

/* prevent flash of white content when navigating thumbnails */
.layout,
.layout > * {
  overflow: hidden;
}

/* .header */

.header {
  justify-content: center;
  background-color: var(--color-bg-primary);
  padding: var(--gutter-half) var(--gutter);
}

/* .controls */

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* cropper */

img {
  display: block;
  max-width: 100%;
}

.img-containers {
  display: grid;
  /* TODO calculations don't work with 300px 1fr 300px */
  grid-template-columns: 1fr 300px 300px;
  column-gap: var(--gutter);
}

.img-container1 {
  position: relative; /* AP */
  width: 100%;
  min-height: calc(70vh - 2rem);
  max-height: calc(70vh - 2rem);
  background-color: var(--color-bg-light);
  text-align: center;
}

.img-container1 .cropper-face {
  opacity: 0;
}

.img-container1 .cropper-crop-box,
.img-container1 .cropper-view-box {
  border-radius: 50%;
}

.img-container1 .cropper-view-box {
  box-shadow: 0 0 0 var(--cropper-view-box-width) var(--color-border-active);
  outline: 0;
}

.editor {
  position: relative; /* AP */
}

.editor,
.img-container1,
.img-container2,
.img-container3 {
  background-color: var(--color-bg-tertiary);
}

.img-container1 > img,
.img-container2 > img,
.img-container3 > img {
  visibility: hidden; /* allows presumed dimension calculations without FOUC */
  max-width: 100%;
}

.img-container2 {
  width: 100%;
}

.img-container3 {
  width: 100%;
}

.cropper-modal {
  opacity: var(--opacity-modal-overlay);
}

/* .thumbs */

.thumbs {
  counter-reset: thumb-counter;
  background-color: var(--color-bg-primary);
  padding-bottom: 2rem;
  border: var(--gutter) solid var(--color-bg-primary);
  scroll-behavior: auto;
  overflow-x: auto;
}

.thumbs-list {
  display: flex;
  height: 100%;
  align-items: stretch; /* height of container */
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gutter);
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumb {
  position: relative;
  width: 7.8vw;
  flex-shrink: 0;
}

.thumb::before {
  counter-increment: thumb-counter;
  content: "#" counter(thumb-counter);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: var(--color-secondary);
  font-family: sans-serif;
  font-size: var(--text-small);
  line-height: 1;
  text-shadow: 1px 0 4px var(--color-bg-primary);
  padding: var(--gutter);
}

.thumb-img {
  width: 100%;
  height: auto;
  filter: grayscale(60%) brightness(var(--opacity-thumb-brightness));
}

.btn-selected .thumb-img {
  filter: none;
}

.thumb-meta {
  text-align: center;
}

.thumbs-summary-meta {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  border: var(--gutter) solid var(--color-bg-primary);
}

/* .meta */

.meta {
  background-color: var(--color-bg-secondary);
  color: var(--color-tertiary);
  font-family: sans-serif;
  font-size: var(--text-tiny);
  padding: var(--gutter-half) var(--gutter);
  margin: .1rem 0;
}

.meta.thumbs-summary-meta {
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
  font-size: var(--text-small);
  margin: 0;
}

/* .btn */

.btn {
  background-color: var(--color-bg-tertiary);
  color: var(--color-primary);
  font-family: sans-serif;
  font-size: var(--text-small);
  padding: var(--gutter-half);
  border: 1px solid var(--color-border-secondary);
  border-radius: 0;
  margin-right: var(--gutter-half);
}

input.btn {
  width: 2rem;
  text-align: right;
  padding-right: 0;
  padding-left: 0;
  border-left: 0;
}

label.btn {
  border-right: 0;
  margin-right: calc((var(--gutter-half) * -1) - 1px);
}

.btn-thumb {
  display: grid; /* aligns child img to top */
  position: relative;
  height: 100%;
  background-color: var(--color-bg-secondary);
  padding: 0;
  border: 0;
  margin: 0;
}

.btn-thumb .meta {
  position: absolute;
  bottom: -1px; /* else small gap */
  width: calc(100% - (var(--gutter) * 2));
  margin: 0;
}

.btn-thumb:focus {
  outline: none;
}

/* .btn-selected */

.btn-selected {
  position: relative;
}

.btn-selected::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--gutter-half) solid var(--color-border-active);
}

.btn-selected .meta {
  color: var(--color-primary);
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
  --color-tertiary: rgba(119, 119, 119, 1);
  --color-bg-secondary: rgba(30, 30, 30, 1);
  --opacity-modal-overlay: .8;
  --opacity-thumb-brightness: .5;
}