:root {
  --gutter: .5rem;
  --gutter-half: calc(.5rem/2);
  --gutter-double: calc(.5rem * 2);
  --cropper-view-box-width: 4px; /* cannot use rems or calc() as must be exposed to getPropertyValue() as a number */
  --text-tiny: .7rem;
  --text-small: .8rem;
  --text-medium: .9rem;
  --color-checked-on: rgba(0, 200, 0);
  --color-checked-off: rgba(255, 0, 0);
  --color-focus: rgba(255, 200, 0);
  --color-primary: rgba(255, 255, 255, 1);
  --color-input: rgba(255, 255, 255, 1);
  --color-secondary: rgba(204, 204, 204, 1);
  --color-tertiary: rgba(150, 150, 150, 1);
  --color-bg-primary: rgba(0, 0, 0, 1);
  --color-bg-secondary: rgba(20, 20, 20, 1);
  --color-bg-tertiary: rgba(51, 51, 51, 1);
  --color-bg-light: rgba(247, 247, 247, 1);
  --color-bg-image: rgba(134, 134, 134, 1);
  --color-bg-thumb: rgba(255, 255, 255, .15);
  --color-border-secondary: rgba(255, 255, 255, .5);
  --color-border-tertiary: rgba(51, 51, 51, 1);
  --color-border-active: rgba(170, 170, 170, 1);
  --focalpoint-default: var(--color-secondary);
  --focalpoint-custom: var(--color-checked-on);
  --height-control-bar-inner: 3.5rem;
  --height-control-bar-outer: calc(var(--height-control-bar-inner) + var(--gutter-half) + var(--gutter-half));
  --image-percent-x: 50%;
  --image-percent-y: 50%;
  --opacity-modal-overlay: .5;
  --opacity-thumb-brightness: .8;
  --cropper-master-height: calc(70vh - var(--height-control-bar-outer));
  --cropper-slave-height: calc((70vh - var(--height-control-bar-outer) - var(--gutter)) / 2);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button[disabled],
input[disabled],
[data-disabled] {
  color: var(--color-secondary) !important; /* stylelint-disable-line declaration-no-important */
  cursor: not-allowed;
}

[hidden] {
  visibility: hidden;
}

/* prevent flash of white content when navigating thumbnails */
html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
}

.layout {
  display: grid;
  grid-template-rows: 70vh 30vh;
  height: 100vh;
}

/* prevent flash of white content when navigating thumbnails */
.layout,
.layout > * {
  overflow: hidden;
}

/* cropper */

img {
  display: block;
  max-width: 100%;
}

.grid-croppers {
  display: grid;
  grid-template-areas:
    'master slave3 slave3'
    'master slave1 slave2';
  grid-template-rows: var(--cropper-slave-height) var(--cropper-slave-height);
  grid-template-columns: 1fr 20% 20%;
  row-gap: var(--gutter);
  column-gap: var(--gutter);
}

.img-container {
  position: relative;
}

.img-container > h2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .7);
  color: var(--color-primary);
  font-family: sans-serif;
  font-size: var(--text-tiny);
  padding: var(--gutter-half);
  margin: var(--gutter-half);
}

.cropper-master {
  grid-area: master;

  position: relative; /* AP */
  width: 100%;
  min-height: var(--cropper-master-height);
  max-height: var(--cropper-master-height);
  background-color: var(--color-bg-light);
  text-align: center;
}

.cropper-master > h2 {
  right: auto;
  left: 0;
}

.cropper-master .cropper-face {
  opacity: 0;
}

.cropper-master .cropper-crop-box,
.cropper-master .cropper-view-box {
  border-radius: 50%;
}

.cropper-master .cropper-view-box {
  box-shadow: 0 0 0 var(--cropper-view-box-width) var(--color-border-active);
  outline: 0;
}

.cropper-collapsed {
  grid-area: slave1;
  width: 100%;
}

.cropper-thumbnail {
  grid-area: slave2;
  width: 100%;
}

.cropper-banner-bg {
  grid-area: slave3;
  width: 100%;
}

.cropper-hide {
  display: none; /* .cropper-hidden is used by cropperjs */
}

.editor {
  position: relative; /* AP */
  background-color: var(--color-bg-tertiary);
}

.grid-croppers > .img-container {
  background-color: var(--color-bg-image);
}

.grid-croppers > .img-container > .cropper-image {
  visibility: hidden; /* allows presumed dimension calculations without FOUC */
  max-width: 100%;
}

.cropper-modal {
  opacity: var(--opacity-modal-overlay);
}

/* .thumbs */

.thumbs {
  counter-reset: thumb-counter;
  background-color: var(--color-bg-primary);
  padding-bottom: 2.7rem;
  border: var(--gutter) solid var(--color-bg-primary);
  scroll-behavior: auto;
  overflow-x: auto;
}

.thumbs-list {
  display: flex;
  height: 100%;
  align-items: stretch; /* height of container */
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gutter);
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumb {
  position: relative;
  width: 7.8vw;
  flex-shrink: 0;
  background-color: var(--color-bg-thumb); /* fill below image */
}

.thumb::before {
  counter-increment: thumb-counter;
  content: counter(thumb-counter);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* same as h2 */
  background-color: rgba(0, 0, 0, .7);
  color: var(--color-primary);
  font-family: sans-serif;
  font-size: var(--text-tiny);
  padding: var(--gutter-half);
  margin: var(--gutter-half);
  pointer-events: none;
}

.thumb-img {
  width: 100%;
  height: auto;
  border-bottom: var(--gutter-half) solid;
  filter: grayscale(10%) brightness(var(--opacity-thumb-brightness));
}

.btn-selected .thumb-img {
  filter: none;
}

.thumb-img-wrapper {
  position: relative;
}

.thumb-img-wrapper:before {
  content: '';
  position: absolute;
  top: calc(var(--image-percent-y) - 2px);
  left: calc(var(--image-percent-x) - 2px);
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--focalpoint-default);
  border-radius: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  margin: -.5rem 0 0 -.5rem;
  backdrop-filter: saturate(1.1) brightness(1.3);
}

.thumb[style] .thumb-img-wrapper:before {
  border-color: var(--focalpoint-custom);
}

.thumb-meta {
  text-align: center;
}

.thumbs-summary-meta {
  display: grid;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; /* overlap focalpoint circles */

  grid-template-areas: 'folderName fileCount';
  grid-template-columns: 1fr 10rem;
  column-gap: var(--gutter);

  border: var(--gutter) solid var(--color-bg-primary);
}

.thumbs-summary-meta .thumb-path {
  grid-area: folderName;
}

.thumbs-summary-meta .thumb-count {
  grid-area: fileCount;
  text-align: right;
}

/* .meta */

.meta {
  background-color: var(--color-bg-secondary);
  color: var(--color-tertiary);
  font-family: sans-serif;
  font-size: var(--text-tiny);
  padding: var(--gutter-half) var(--gutter);
  margin: .1rem 0;
}

.meta.thumbs-summary-meta {
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
  font-size: var(--text-small);
  margin: 0;
}

.meta.thumbs-summary-meta * {
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
}

.meta.thumbs-summary-meta p {
  margin: 0.5em 0;
}

/* .control-action, .control-param, .control-status-msg */

.control-bar {
  display: flex;
  height: var(--height-control-bar-inner);
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  color: var(--color-primary);
  font-family: sans-serif;
  padding: var(--gutter);
  border: 0;
  overflow: hidden;
}

.control-fieldset {
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

.control-fieldset > legend {
  float: left;
  height: 100%;
}

.control-status-msg {
  display: grid;
  min-height: 1.8rem;
  align-content: center;
  color: var(--color-input);
  font-size: 1em;
  font-style: italic;
  margin: 0 0 0 auto; /* align right */
}

.controls {
  height: 100%;
  align-items: stretch;
  font-size: 1rem;
  font-weight: 300;
}

.controls,
.control-param {
  display: flex;
  flex-wrap: nowrap;
}

.control-param {
  align-items: center;
  padding-right: var(--gutter-half);
}

.control-param,
.control-action {
  padding: var(--gutter-half) var(--gutter);
  border: 1px solid var(--color-border-secondary);
  border-radius: .2em;
  margin-right: var(--gutter);
}

.control-action[data-hint] {
  font-size: 0.8rem;
  text-align: left;
}

.control-hint {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
}

.control-label {
  margin-right: var(--gutter-half);
}

.control-label[for] {
  opacity: .75;
}

.controls input {
  background-color: inherit;
  color: var(--color-input);
  font-size: inherit;
  padding: 0;
  border: 0;
  margin: 0 var(--gutter-half) 0 0;
}

.controls input[type='number'] {
  width: 3em; /* 1 dp */
}

.controls input[type='number']::-webkit-inner-spin-button {
  opacity: 1; /* force display of increment/decrement buttons */
}

.control-action {
  background-color: inherit;
  color: var(--color-input);
  font-size: 1em;
  overflow: hidden; /* small viewports */
}

.radios-label {
  margin-right: var(--gutter);
}

.radio-label {
  display: grid;
  margin-right: var(--gutter);
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type='radio'] {
  display: grid;
  width: 1em;
  height: 1em;
  background-color: var(--color-input);
  color: currentColor;
  font-family: inherit;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  margin: 0;
  transform: translateY(0.075em);
  place-content: center;
  appearance: none;
}

input[type='radio']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  background-color: CanvasText;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type='radio'][value='on']::before {
  box-shadow: inset 1em 1em var(--color-checked-on);
}

input[type='radio'][value='off']::before {
  box-shadow: inset 1em 1em var(--color-checked-off);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:focus {
  outline: max(2px, 0.15em) solid var(--color-focus);
  outline-offset: max(2px, 0.15em);
}

/* .btn-thumb */

.btn-thumb {
  display: grid; /* aligns child img to top */
  position: relative;
  height: 100%;
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0;
}

.btn-thumb .meta {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--gutter);
  margin: 0;
}

.btn-thumb:focus {
  outline: none;
}

/* .btn-selected */

.btn-selected {
  position: relative;
}

.btn-selected::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--gutter-half) solid var(--color-border-active);
}

.btn-selected .meta {
  color: var(--color-primary);
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
  --color-tertiary: rgba(119, 119, 119, 1);
  --color-bg-secondary: rgba(30, 30, 30, 1);
  --opacity-modal-overlay: .8;
  --opacity-thumb-brightness: .5;
}