:root {
  --gutter: .5rem;
  --gutter-half: calc(.5rem/2);
}

body {
  margin: 0;
}

.layout {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.editor {
  align-self: center;
  text-align: center;
}

.images {
  overflow-y: auto;
  background-color: black;
  padding-bottom: 2rem;
  border: var(--gutter) solid black;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gutter);
  list-style: none;
  padding: 0;
  margin: 0;
}

.image-list img {
  width: 100%;
  height: auto;
}

.image-meta {
  background-color: #333;
  color: white;
  font-family: sans-serif;
  font-size: .9rem;
  padding: var(--gutter-half) var(--gutter);
  margin: .1rem 0;
}

.image-datetime {
  text-align: center;
}

.image-summary {
  position: fixed;
  bottom: var(--gutter);
  width: calc(100% - (var(--gutter) * 4));
  text-align: right;
  border-top: var(--gutter) solid black;
}

.image-summary.image-meta {
  background-color: #1f1f1f;
  color: #ccc;
  font-size: .8rem;
  margin: 0;
}
